@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.App {
  text-align: center;
}

.app-section {
  background-color: rgba(0, 0, 0, 0.9);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  position: relative;
  overflow: hidden;
}

.logo-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.pickup-line-box {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  padding: 2rem;
  width: 80%;
  max-width: 500px;
  margin: 2rem 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.pickup-line-header {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 1rem;
}

.pickup-line-text {
  font-size: 1.2rem;
  color: #ffffff;
}

.next-button {
  font-size: 1.2rem;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 8px;
  background-color: #000000;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.2);
}

.next-button:hover {
  background-color: #222222;
}

.next-button:disabled {
  background-color: #666666;
  cursor: not-allowed;
}

.app-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
  text-align: center;
}

.app-footer span {
  color: #ef9696;
}

.app-footer span:hover {
  color: #f2b49b;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .App-header {
    padding: 2rem;
  }
}
